@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.filter{
    display: flex;

    ul{
        display: flex;
        list-style-type: none;
        padding: 0;  
        margin: 0;    
        margin-left: 20px;
    }

    .block{
        margin: 10px 10px;
        padding: 10px 20px;
        border: 1px solid grey;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500; 
        font-size: small;
        color: black;
        background-color: white;  
    }

    .active{
        margin: 10px 10px;
        padding: 10px 20px;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: small;
        border: 1px solid white;
        color: white;
        background-color: #AB3B00;
    }
}